@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

/* ------------ INITIALS ---------- */

body { 
    margin:0;
    font-family:'Vollkorn','Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

button, .btn {
    border:1px solid #008ece; 
    background-color:#008ece;
    color:#fff;
    padding:0.8em 1em;
    font-size: 16px;
}

button:hover, .btn:hover {
    background-color:#0e7eb1;
}

input {
    padding: 1em;
    margin-left:0.5em;
    border:1px solid transparent;
}
input:hover {
    border:1px solid #008ece;
} 

input.in-date {
    padding: 0.83em;
    width:250px;
}


/* ------------ HEADER ---------- */

header a, footer a {
    color:#fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:18px;
    text-transform: capitalize;
}


header {
    background-color: #000;
    padding:1em;
}

nav a {
    padding:1em;
}

nav a:hover  {
    background-color: rgba(255, 255, 255, 0.20);
}
.logo {
     float:left;
     margin:0px 20px;
}

nav a {
    text-decoration: none;
    padding-left:1em;
}


/* ------------ SECTIONS ---------- */

#hero {
    background-image: url(/assets/don-joviani.jpeg);
    background-position: bottom;
    margin:2.2em;
    min-height:500px;
}

.caption {
    color:#fff;
    text-align:center;
    padding:11em;
}
.caption .title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 58px;
}

.caption .composser, .caption .dates{
    font-size:28px;
}


#search {
    text-align: center;
    padding:1em 0 2em 0;
    margin: 0 2.2em;
    background-color: #ebebeb;
}

#banners {
    text-align: center;
    margin:2em;
}

#banners img {
    width:33%;
}


/* ------------ FOOTER ---------- */

footer {
    background-color: #008ece;
    padding:1em;
}

.footer-links ul {
    text-align: center;
}

.footer-links ul li{
    display: inline;
    padding:2em;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    color:#064b6b;
}